html, body {
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b3db7+0,227ff1+100 */
  background: #1b3db7; /* Old browsers */
  background: -moz-linear-gradient(top, #1b3db7 0%, #227ff1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1b3db7 0%,#227ff1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1b3db7 0%,#227ff1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3db7', endColorstr='#227ff1',GradientType=0 ); /* IE6-9 */
}

.container {
  width: 1500px !important;
}

.seventy-percent-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.white {
  color: #FFFFFF !important;
}


h1, h2, h3, h4, h5, h6, p {
	font-family: 'Montserrat', sans-serif !important;
}

h1 {
  font-weight: 800 !important;
  color: white;
}

h2 {
  font-weight: 600 !important;
}

h3 {
  font-weight: 400 !important;
  font-size: 50px !important;
}

h4 {
  font-weight: 400 !important;
  font-size: 25px !important;
}

p, li {
  font-weight: 400;
}

.light {
  font-weight:300 !important;
}


.list-group-item .col-xs-3 p {
  font-weight: 800;
}